footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-info {
    display: flex;
    align-items: center;
}

.audio-info img {
    width: 50px;
    margin-right: 12px;
}

.info-music span {
    color: white;
    margin-right: 8px;
}

.info-music button {
    background-color: transparent;
    border: none;
    color: white;
}

.info-music .fa-star.active {
    color: #0077ff;
}

.info-band {
    font-size: 14px;
    margin-top: 4px;
}

.audio-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-button {
    display: flex;
}

.player-button button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 4px;
}

.fa-circle-play, .fa-circle-pause {
    font-size: 28px;
}

.fa-backward-step, .fa-forward-step {
    font-size: 20px;
}

.fa-backward-step:active {
    animation: slideEffectLeft 0.4s ease-in-out;
}

@keyframes slideEffectLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.fa-forward-step:active {
    animation: slideEffectRight 0.4s ease-in-out;
}

@keyframes slideEffectRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.player-slider {
    display: flex;
    align-items: center;
}

.player-slider input {
    cursor: pointer;
    height: 4px;
    margin-right: 8px;
}

.player-slider span {
    font-size: 12px;
    color: white;
}

.audio-options button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 4px;
}