/* --- NAV LINKS --- */
.logo img {
    width: 128px;
    margin-bottom: 12px;
}

nav ul li {
    margin: 0 0 8px 6px;
}

nav ul li a:hover {
    color: white;
}

nav ul li a i {
    margin-right: 4px;
}

/* --- ASIDE LIBRARY --- */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.library-content {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.library-content a:hover {
    color: white;
}

.library-content i {
    margin-right: 4px;
}

.library-content button {
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    font-size: 16px;
}

.library-content button:hover {
    color: white;
}

.library-section {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border-radius: 10px;
    padding: 14px;
}

.title {
    color: white;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 12px;
}

.section-button {
    display: flex;
    justify-content: space-between;
    margin: 0 6px 0 6px;
}

.section-button button {
    background-color: #FFFBEB;
    border-radius: 4px;
    border: none;
    padding: 6px;
    color: #242424;
}

.section-button button:hover {
    transform: scale(1.04);
    color: #6D0000;
}

.library-link {
    margin: 0 0 14px 12px;
}

.link-general {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
}

.link-general a:hover {
    color: white;
}

.link-cookies a {
    color: white;
}

.link-cookies a:hover {
    text-decoration: underline;
}

.library-languages button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    font-size: 16px;
}

.library-languages button i {
    margin-right: 4px;
}

.library-languages button:hover {
    background-color: #6D0000;
}